if [ -d "{{ bash_aliases_d }}" ]; then
    for file in $(ls "{{ bash_aliases_d }}"); do
        if [ -r "{{ bash_aliases_d }}/$file" ]; then
            . "{{ bash_aliases_d }}/$file"
        fi
    done
fi
