if [ -d "{{ bash_completion_d }}" ]; then
    for file in $(ls "{{ bash_completion_d }}"); do
        if [ -r "{{ bash_completion_d }}/$file" ]; then
            . "{{ bash_completion_d }}/$file"
        fi
    done
fi
