if [ -d "{{ bash_profile_d }}" ]; then
    for file in $(ls "{{ bash_profile_d }}"); do
        if [ -r "{{ bash_profile_d }}/$file" ]; then
            . "{{ bash_profile_d }}/$file"
        fi
    done
fi
